<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/landing.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img alt="pastedImage" src="../static/images/cac_logo_white.png" class="home-logo" />
        <ul>
            <li><a href="#" class="active">Landing</a></li>
            <li><a href="/dashboard">Demo</a></li>
            
        </ul>
    </header>

    <section>
        <img src="../static/images/background.jpeg" id="background">
        <h2 id="text">SOLAR OPTIMIZED.</h2>
        <a href="#sec" id="btn">Explore</a>
        <img src="../static/images/panels.png" id="panels">
    </section>
    
    <div class ="sec">
        <div class="video-container">
            <video autoplay muted loop>
                <source src="../static/images/landing_stock.mp4" type="video/mp4" />
            </video>

        
            <div class="container-01">
                <div  id="sec" class="child-01">
                    <h2>Solving our local <br>communities' biggest <br>problems with <br>machine learning. </h2>
                </div>
                <div class="child-02">
                    <a href="/dashboard" id="btn2" >Try our Demo</a>
                </div> 
            </div>
            <div  class ="container-02">
                <br><br><p>The Duck Curve has haunted California for years, and has resulted in massive
                     power outages, resource wastages, and more. With the rise of residential solar 
                     generation, this problem will only get worse, until we found the solution.<p>
            </div>
        </div>
    </div>
</body>
</html>
