.comparison-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
}
.comparison-centered {
  width: 100%;
  height: 63px;
  display: flex;
  max-width: 100%;
  align-self: center;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(to right,#00fe91, #00a2fe);
}
.comparison-left {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.comparison-logo {
  width: 200px;
  
}
.icon {
  width:90px;
  height:90px;
}
.icon02 {
  width:60px;
  height:60px;
}
.comparison-links {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.comparison-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.comparison-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-image: linear-gradient(to right, #00fe91, #00a2fe);
}
.comparison-get-started:hover {
  background-color: white;
}
.comparison-text03 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.comparison-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.comparison-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.comparison-hero {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  background-color: #23242c;
}
.comparison-header {
  display: flex;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
}
.comparison-text04 {
  color: #ffffff;
  height: 92px;
  font-size: 64px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.comparison-text06 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 20px;
  margin-bottom:30px;
}
.comparison-text07 {
  color: white;
  font-size: 20px;
  max-width: 600px;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
}
.comparison-outline {
  width: 100%;
  display: flex;
  align-items: center;
  border-width: 7px;
  border-radius: 70px;
  flex-direction: column;
}

.comparison-number {
  
  margin: 50px;
  margin-top: 3px;
  
  width: 20%;
  height:20%;
  
  background-color: #00fd91;
  display: flex;
  position: relative;
  align-items: center;
  padding: 25px;
  flex-direction: column;
  border-radius: 10px;
}
.comparison-text08 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 10px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 30px;
  margin-top:15%;
  
}
.comparison-text09 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 55px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 30px;
  margin-top:10%;
  
}
.comparison-text10 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 30px;
  margin-top:15%;
  margin-bottom:5%;
}
.comparison-text11 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 70px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 30px;
  margin-top:10%;
 
  
}

.comparison-number1 {
  margin: 5px;
  margin-top: 3px;
  width: 15%;
  background-color: #00e5af;
  display: flex;
  position: relative;
  align-items: center;
  padding: 25px;
  flex-direction: column;
  border-radius: 10px;
}



.comparison-number2 {
  margin: 5px;
  margin-top: 3px;
  width: 15%;
  background-color: #00d3c3;
  display: flex;
  position: relative;
  align-items: center;
  padding: 25px;
  flex-direction: column;
  border-radius: 10px;
}

.comparison-number3 {
  margin: 5px;
  margin-top: 3px;
  width: 15%;
  background-color: #00bedd;
  display: flex;
  position: relative;
  align-items: center;
  padding: 25px;
  flex-direction: column;
  border-radius: 10px;
}

.comparison-number4 {
  margin: 5px;
  margin-top: 3px;
  width: 15%;
  background-color: #00a2fe;
  display: flex;
  position: relative;
  align-items: center;
  padding: 25px;
  flex-direction: column;
  border-radius: 10px;
}
.comparison-text20 {
  color: rgb(0, 0, 0);
  width: 258px;
  height: 58px;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.comparison-text21 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 60px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.comparison-text22 {
  color: rgb(0 175 0);
  width: auto;
  height: auto;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.comparison-container01 {
  flex: 0 0 auto;
  width: 100%;
  height:100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.comparison-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.comparison-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.comparison-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 25%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
}
.comparison-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 90vh;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.comparison-image {
  width: 100%;
  height: 50%;
  z-index: 10;
  user-select: none;
  border-width: 6px;
  border-right-width: 3px;
  border-bottom-width: 3px;
}
.comparison-image1 {
  width: 150%;
  height: 50%;
  z-index: 10;
  align-self: flex-start;
  user-select: none;
  border-width: 6px;
  border-top-width: 3px;
  border-right-width: 3px;
}
.comparison-container06 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.comparison-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 25%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
}
.comparison-container08 {
  flex: 0 0 auto;
  width: 66.66667%;
  height: 90vh;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-end;
}
.comparison-image2 {
  width: 100%;
  height: 50%;
  z-index: 10;
  user-select: none;
  border-width: 6px;
  border-top-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
}
.comparison-container09 {
  flex: 0 0 auto;
  width: 33.33333%;
  height: 90vh;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}

.comparison-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 90vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.comparison-image3 {
  width: 400%;
  height: 50%;
  z-index: 10;
  align-self: flex-end;
  user-select: none;
  border-width: 6px;
  border-left-width: 3px;
  border-bottom-width: 3px;
}
.comparison-image4 {
  width: 100%;
  height: 50%;
  z-index: 10;
  user-select: none;
  border-width: 6px;
  border-top-width: 3px;
  border-left-width: 3px;
}
@media(max-width: 991px) {
  .comparison-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .comparison-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .comparison-logo {
    width: 200px;
  }
  .comparison-links {
    display: none;
  }
  .comparison-get-started {
    display: none;
  }
  .comparison-mobile-menu-button {
    display: flex;
  }
  .comparison-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .comparison-header {
    width: 100%;
    max-width: 1200px;
  }
  .comparison-image {
    width: 100%;
  }
  .comparison-image1 {
    width: 100%;
  }
  .comparison-image2 {
    width: 100%;
  }
  .comparison-image3 {
    width: 100%;
  }
  .comparison-image4 {
    width: 100%;
  }
}
.dark-mode {
  --dl-color-gray-black: #ffffff; 
  --dl-color-gray-white: #181818; 
}

.dark-mode .comparison-centered {
  background-color: #181818;
}

.dark-mode .comparison-text03 {
  color: #ffffff;
}

#dark-mode-toggle {
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.dark-mode .comparison-centered {
  background-color: var(--dl-color-success-300); 
}

.dark-mode .comparison-text04 {
  color: #ffffff; 
}

.dark-mode .comparison-text07 {
  color: rgb(0 127 0); 
}

.bottom-right-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #5228F5;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  z-index: 1000; 
}

#graph{
  width: 100%;
}

.comparison-links span{
  margin-left: 20px;
  margin-right: 20px;
}