.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
}
.home-centered {
  width: 100%;
  height: 63px;
  display: flex;
  max-width: 100%;
  align-self: center;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(to right,#00fe91, #00a2fe);
}
.home-left {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.home-logo {
  width: 200px;
  
}
.home-links {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.home-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-image: linear-gradient(to right, #00fe91, #00a2fe);
}
.home-get-started:hover {
  background-color: white;
}
.home-text03 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.home-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.home-hero {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  background-color: #23242c;
}
.home-header {
  display: flex;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
}
.home-text04 {
  color: #ffffff;
  height: 92px;
  font-size: 64px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.home-text07 {
  color: white;
  font-size: 20px;
  max-width: 600px;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
}
.home-outline {
  width: 100%;
  display: flex;
  align-items: center;
  border-width: 7px;
  border-radius: 70px;
  flex-direction: column;
}
.home-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-number {
  margin: 5px;
  margin-top: 3px;
  width: 19%;
  background-color: #00fd91;
  display: flex;
  position: relative;
  align-items: center;
  padding: 5px;
  flex-direction: column;
}
.home-text08 {
  color: rgb(0, 0, 0);
  width: 258px;
  height: 58px;
  font-size: 10px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.home-text09 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 60px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.home-text10 {
  color: rgb(0 175 0);
  width: auto;
  height: auto;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.home-number1 {
  margin: 5px;
  margin-top: 3px;
  width: 19%;
  background-color: #00e5af;
  display: flex;
  position: relative;
  align-items: center;
  padding: 5px;
  flex-direction: column;
}
.home-text11 {
  color: rgb(255, 255, 255);
  width: 258px;
  height: 58px;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.home-text12 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 60px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.home-text13 {
  color: rgb(0 175 0);
  width: auto;
  height: auto;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.home-number2 {
  margin: 5px;
  margin-top: 3px;
  width: 19%;
  background-color: #00d3c3;
  display: flex;
  position: relative;
  align-items: center;
  padding: 5px;
  flex-direction: column;
}
.home-text14 {
  color: rgb(255, 255, 255);
  width: 258px;
  height: 58px;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.home-text15 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 60px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.home-text16 {
  color: rgb(0 175 0);
  width: auto;
  height: auto;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.home-number3 {
  margin: 5px;
  margin-top: 3px;
  width: 19%;
  background-color: #00bedd;
  display: flex;
  position: relative;
  align-items: center;
  padding: 5px;
  flex-direction: column;
}
.home-text17 {
  color: rgb(255, 255, 255);
  width: 258px;
  height: 58px;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.home-text18 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 60px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.home-text19 {
  color: rgb(0 175 0);
  width: auto;
  height: auto;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.home-number4 {
  margin: 5px;
  margin-top: 3px;
  width: 19%;
  background-color: #00a2fe;
  display: flex;
  position: relative;
  align-items: center;
  padding: 5px;
  flex-direction: column;
}
.home-text20 {
  color: rgb(0, 0, 0);
  width: 258px;
  height: 58px;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.home-text21 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 60px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.home-text22 {
  color: rgb(0 175 0);
  width: auto;
  height: auto;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container03 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 25%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 90vh;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-image {
  width: 100%;
  height: 50%;
  z-index: 10;
  user-select: none;
  border-width: 6px;
  border-right-width: 3px;
  border-bottom-width: 3px;
}
.home-image1 {
  width: 150%;
  height: 50%;
  z-index: 10;
  align-self: flex-start;
  user-select: none;
  border-width: 6px;
  border-top-width: 3px;
  border-right-width: 3px;
}
.home-container06 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 25%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
}
.home-container08 {
  flex: 0 0 auto;
  width: 66.66667%;
  height: 90vh;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-end;
}
.home-image2 {
  width: 100%;
  height: 50%;
  z-index: 10;
  user-select: none;
  border-width: 6px;
  border-top-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
}
.home-container09 {
  flex: 0 0 auto;
  width: 33.33333%;
  height: 90vh;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}

.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 90vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-image3 {
  width: 400%;
  height: 50%;
  z-index: 10;
  align-self: flex-end;
  user-select: none;
  border-width: 6px;
  border-left-width: 3px;
  border-bottom-width: 3px;
}
.home-image4 {
  width: 100%;
  height: 50%;
  z-index: 10;
  user-select: none;
  border-width: 6px;
  border-top-width: 3px;
  border-left-width: 3px;
}
@media(max-width: 991px) {
  .home-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .home-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .home-logo {
    width: 64px;
  }
  .home-links {
    display: none;
  }
  .home-get-started {
    display: none;
  }
  .home-mobile-menu-button {
    display: flex;
  }
  .home-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-header {
    width: 100%;
    max-width: 1200px;
  }
  .home-image {
    width: 100%;
  }
  .home-image1 {
    width: 100%;
  }
  .home-image2 {
    width: 100%;
  }
  .home-image3 {
    width: 100%;
  }
  .home-image4 {
    width: 100%;
  }
}
.dark-mode {
  --dl-color-gray-black: #ffffff; 
  --dl-color-gray-white: #181818; 
}

.dark-mode .home-centered {
  background-color: #181818;
}

.dark-mode .home-text03 {
  color: #ffffff;
}

#dark-mode-toggle {
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.dark-mode .home-centered {
  background-color: var(--dl-color-success-300); 
}

.dark-mode .home-text04 {
  color: #ffffff; 
}

.dark-mode .home-text07 {
  color: rgb(0 127 0); 
}

.bottom-right-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #5228F5;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  z-index: 1000; 
}

#graph{
  width: 100%;
}

.home-links span{
  margin-left: 20px;
  margin-right: 20px;
}