<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="default.asp">Home</a></li>
            <li><a href="news.asp">idk</a></li>
            <li><a href="contact.asp">idk</a></li>
            <li><a href="about.asp">idk</a></li>
          </ul>
    </div>
    <div class="row1">
        <div class="module20">
            <p>statistic</p>
        </div>
        <div class="module20">
            <p>statistic</p>
        </div>
        <div class="module20">
            <p>statistic</p>
        </div>
        <div class="module20">
            <p>statistic</p>
        </div>
        <div class="module20">
            <p>statistic</p>
        </div>
    </div>
    <div class="row2">
        <div class="row2row">
            <img src="plot1.png" alt="Seaborn Plot">
        </div>
        <div class="row2row">
            <img src="plot2.png" alt="Seaborn Plot">
        </div>
    </div>
    <div class="row2">
        <div class="row2column">
            <img src="plot3.png" alt="Seaborn Plot">
        </div>
        <div class="row2column">
            <img src="plot4.png" alt="Seaborn Plot">
        </div>
    </div>
</body>
</html>
